<form (ngSubmit)="addEvent()" class="mt-4">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="newEvent.title" id="title" placeholder="Enter title">
    <div class="invalid-feedback">Title is required and can only contain letters and spaces.</div>
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" id="date" [(ngModel)]="newEvent.date" name="date">
    <div class="invalid-feedback">Date is required.</div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" name="description" [(ngModel)]="newEvent.description" rows="3"></textarea>
    <div class="invalid-feedback">Description is required.</div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price (in €)</label>
    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="newEvent.price"  min="0.00" max="10000.00" step="0.01" />
    <div class="invalid-feedback">Price must be a positive number.</div>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="file" class="form-control" id="image" [(ngModel)]="imageName" name="image" #fileImage (change)="changeImage(fileImage)">
  </div>
  <img [src]="newEvent.image" alt="" class="img-thumbnail">
  <div>
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
